.dropdown-menu {
    position: fixed;
    top: 3.95rem;
    right: 0;
    height: 100%;
    width: 19rem;
    box-shadow: -5px 0px 5px -5px rgba(0,0,0,.5);

    ul {
        width: 100%;
        
        li {
            padding: 1rem;

            &:hover {
                background-color: rgba(0,0,0,.2);
                transition: all .3s ease-in-out;
            }

            &:hover > a {
                color: var(--color-verdeagua);
            }

            a {
                color: var(--color-negro);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .dropdown-menu {
        display: none;
    }
}